<!--
  Generated template for the FormValuesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Selected Values</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-row>
        <ion-label>Mail address: {{valuesFromParantClass.email}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-label>Password: {{valuesFromParantClass.password}}</ion-label>
      </ion-row>
      <ion-row>
          <ion-label *ngIf="valuesFromParantClass.perimum == 'B'">Selected premium: Basic</ion-label>
          <ion-label *ngIf="valuesFromParantClass.perimum == 'A'">Selected premium: Advanced</ion-label>
          <ion-label *ngIf="valuesFromParantClass.perimum == 'P'">Selected premium: Pro</ion-label>

        </ion-row>
  </ion-list>

</ion-content>
