<ion-header>
  <ion-navbar>
    <ion-title>
      Form Based Task
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="demoForm">
        <p class="errorMsg" *ngIf="!demoForm.controls['email'].valid && demoForm.controls['email'].touched ">Invalid email address</p>
        <p class="errorMsg" *ngIf="!demoForm.controls['options'].valid && demoForm.controls['options'].touched ">Please select any</p>
        <p class="errorMsg" *ngIf="!demoForm.controls['password'].valid && demoForm.controls['password'].touched ">Invalid password</p>

      <ion-item>
          <ion-label floating>Mail address</ion-label>
          <ion-input type="email" formControlName='email'></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Select any one</ion-label>
            <ion-select formControlName='options'>
              <ion-option value="B">Basic</ion-option>
              <ion-option value="A">Advanced</ion-option>
              <ion-option value="P">Pro</ion-option>
            </ion-select>
      </ion-item>
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="Password" formControlName='password'></ion-input>
      </ion-item>
      </form>
      </ion-list>


</ion-content>
<ion-footer>

    <ion-row>
        <ion-col col-6>
              <button class="btnClass" ion-button outline (click)="gotoNextPage()" [disabled]="!(demoForm.valid)">Submit</button>
        </ion-col>
        <ion-col col-6>
            <button class="btnClass" ion-button clear color="dark" (click)="clearAllFields()">Clear</button>
        </ion-col>
      </ion-row>

</ion-footer>
